.mason {
  columns: 2;
  break-inside: avoid;
}

.mason-item {
  width: 100%;
  margin: 16px 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 3px solid #4b5563;
  border-radius: 8px;
  overflow: hidden;
}

.mason-item img {
  width: 100%;
  transition: transform 0.3s ease;
}

.mason-item:hover img {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .mason {
    columns: 3;
  }
}

@media (min-width: 1200px) {
  .mason {
    columns: 6;
  }
}
