#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.sandboxWrapper {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
